@media (prefers-color-scheme: dark) {
    :root {
	--background-color: #242120;
	--page-width: 60em;
	--font-color: #e8e9ed;
	--invert-font-color: #242120;
	--secondary-color: #a3abba;
	--tertiary-color: #a3abba;
	--primary-color: #ffd561;
	--error-color: #ff3c74;
	--progress-bar-background: #3f3f44;
	--progress-bar-fill: #62c4ff;
	--code-bg-color: #3f3f44;
    }
}

@media (prefers-color-scheme: light) {
    :root {
	--background-color:#fffee0;
	--font-color:#242120;
	--invert-font-color:#fffee0;
	--primary-color:#e92828;
	--secondary-color:#727578;
	--error-color:#d20962;
	--progress-bar-background:#727578;
	--progress-bar-fill:#242120;
	--code-bg-color:#e8eff2;
    }
}

.video-container {
    width: 100%;
}

.video-container video {
  width: 100%;
  max-width: fit-content;
  max-height: 420px;
}

@media (prefers-color-scheme: dark) {
  .terminal-prompt::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-image: url('/icon_d.png');
      background-size: contain;
      background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: light) {
  .terminal-prompt::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background-image: url('/icon.png');
      background-size: contain;
      background-repeat: no-repeat;
  }
}