{{ $grid_blocks := .Get "grid" | default "3" }}

<div class="gallery-grid-{{ .Ordinal }}">
    {{ .Inner }}
</div>

<style>

.gallery-grid-{{ .Ordinal }} {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    display: grid;
    /* place-items: center; */
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(
        auto-fit,
        minmax(calc(var(--page-width) / {{ $grid_blocks }} ), 1fr)
    );
}

.gallery-grid-{{ .Ordinal }} img {
    width: 100%;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    max-width: fit-content;
    max-height: 500px;
}

</style>